*.sw*
*~
bin/
build/
node_modules/
vendor/
*.nsproj
obj/
karma_html/
*.sublime-workspace
*.sublime-project
.sublime-grunt.cache
docs/
.settings/
.ntvs_analysis.dat
.vs/
npm-debug.log
.ntvs_analysis.dat.tmp
.vscode/